<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- info -->
	<appender name="INF"
		class="com.travelsky.quick.log.log4j.DisruptorAppender">
		<param name="charset" value="UTF-8" />
		<param name="fileName" value="${res-api.log}/res-api-$(log4j.yyyyMMdd)-info.log" />
		<param name="bufferCapacity" value="2048" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%d] [%c] | %m%n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<!-- error -->
	<appender name="ERR"
		class="com.travelsky.quick.log.log4j.DisruptorAppender">
		<param name="charset" value="UTF-8" />
		<param name="fileName" value="${res-api.log}/res-api-$(log4j.yyyyMMdd)-error.log" />
		<param name="bufferCapacity" value="2048" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%d] [%c] | %m%n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!-- tracking  -->
	<appender name="ATSLOG"
		class="com.travelsky.quick.log.log4j.DisruptorAppender">
		<param name="charset" value="UTF-8" />
		<param name="fileName" value="/opt/applog/auditlog/res-api.$(log4j.yyyyMMddHH).audit.$(log4j.num).log" />
		<param name="bufferCapacity" value="2048" />
		<param name="fileMaxSize" value="512M" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!-- TAM日志监控 -->
	<appender name="TAM_COMMON"
		class="com.travelsky.quick.log.log4j.DisruptorAppender">
		<param name="charset" value="UTF-8" />
		<param name="fileName" value="${res-api.log}/res-api.$(log4j.yyyyMMdd).tam.log" />
		<param name="bufferCapacity" value="2048" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<logger name="com.travelsky.quick.log.ats.AtsLogHelper"
		additivity="false">
		<level class="org.apache.log4j.Level" value="info" />
		<appender-ref ref="ATSLOG" />
	</logger>
	<logger name="com.travelsky.quick.log.tam.TAMLogHelper"
		additivity="false">
		<level class="org.apache.log4j.Level" value="info" />
		<appender-ref ref="TAM_COMMON" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level class="org.apache.log4j.Level" value="warn" />
		<appender-ref ref="INF" />
		<appender-ref ref="ERR" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level class="org.apache.log4j.Level" value="warn" />
		<appender-ref ref="INF" />
		<appender-ref ref="ERR" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level class="org.apache.log4j.Level" value="warn" />
		<appender-ref ref="INF" />
		<appender-ref ref="ERR" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="ERR" />
		<appender-ref ref="INF" />
	</root>
</log4j:configuration>